<h2>探索対象の要素</h2>

<p>このステップは下記の順番でマッチする要素を探していきます。</p>

<pre><code>&lt;input type=&quot;submit&quot; id=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;submit&quot; name=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;submit&quot; value=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;submit&quot; title=&quot;ボタン名&quot;/&gt;

&lt;input type=&quot;image&quot; id=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;image&quot; name=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;image&quot; value=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;image&quot; title=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;image&quot; alt=&quot;ボタン名&quot;/&gt;

&lt;input type=&quot;button&quot; id=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;button&quot; name=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;button&quot; value=&quot;ボタン名&quot;/&gt;
&lt;input type=&quot;button&quot; title=&quot;ボタン名&quot;/&gt;

&lt;button id=&quot;ボタン名&quot;&gt;...&lt;/button&gt;
&lt;button name=&quot;ボタン名&quot;/&gt;...&lt;/button&gt;
&lt;button value=&quot;ボタン名&quot;/&gt;...&lt;/button&gt;
&lt;button title=&quot;ボタン名&quot;/&gt;...&lt;/button&gt;
&lt;button&gt;ボタン名&lt;/button&gt;

&lt;* role=&quot;button&quot; id=&quot;ボタン名&quot;&gt;...&lt;/*&gt;
&lt;* role=&quot;button&quot; name=&quot;ボタン名&quot;&gt;...&lt;/*&gt;
&lt;* role=&quot;button&quot; value=&quot;ボタン名&quot;&gt;...&lt;/*&gt;
&lt;* role=&quot;button&quot; title=&quot;ボタン名&quot;&gt;...&lt;/*&gt;
&lt;* role=&quot;button&quot;&gt;ボタン名&lt;/*&gt;
</code></pre>

<p>上記の<code>*</code>はタグ名を限定しないという意味です。</p>
