{{ partial "head.html" . }}

<div>
  <div class="jumbotron">
    <div class="container">
      <h2>{{ .Title }} (<a href="{{ .RSSLink }}">RSS</a>)</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="post-content">
          {{ range .Data.Pages }}
          <article>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ .Content }}
          </article>
          <hr>
          {{ end }}
        </div>
      </div>
      <div class="col-md-4 well well-small">
        <aside>
          {{ partial "sidebar.html" . }}
        </aside>
      </div>
    </div>
  </div>
</div>

{{ partial "foot.html" . }}
