body {
  padding-top: 50px;
}

.post-content {
  font-size: 1.2em;
}

.sidemenu ul {
  list-style:none;
  padding-left: 10px;
}


.translations {
  margin-bottom: 1.2em;
}

.translations .language:before {
  content: "Translations: ";
}

.translations .language:after {
  content: ", ";
}

.translations .language:last-child:after {
  content: "";
}
